*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // ? 1rem = 10px; 10px/16px = 62.5%
}

body {
	box-sizing: border-box;
}

li {
	list-style: none;
	text-transform: uppercase;
}

a {	
	text-decoration: none;
}

button {
	background: none;
	border: none;
	outline: none;
}

input[type="submit"] {
	cursor: pointer;
	border: none;
	border-radius: 0.5rem;
	color: $color-white;
	text-transform: uppercase;
	padding: 0.8rem;
}

input[type="text"],
input[type="password"] {
	border: none;
	padding: 0.8rem;
	outline: none;
	font-size:var(--default-font-size);
	color: $color-grey-dark-3;
	transition: all .2s;
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
	text-transform: uppercase;
}

select::-ms-expand {
  display: none;
}
