.grid-form {
	background-color: $color-primary-light;
	border-radius: 10px;
	box-shadow: .25rem .25rem 2rem rgba($color-black, 0.5);
	display: flex;
	flex-direction: column;
	margin: 3rem auto;
	padding: 4rem;
	width: 40%;
}

.title {
	color: $color-white;
	font-size: 2.7rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

.form {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 30% 60%;
	grid-template-rows: repeat(3, 1fr);
	padding: 2rem;
	align-items: center;
	justify-content: center;

	&>label {
		text-transform: uppercase;
		font-weight: 600;
		color: $color-primary-dark;
		margin-top: 2rem;
	}

	&>input[type="submit"] {
		width: 100%;
		grid-column: 1 / -1;
		background-color: $color-blue;

		&:hover {
			background-color: rgb($color-blue, 1);
		}
	}

	&>input[type="text"],
	&>input[type="password"] {
		border-bottom: var(--line);
		width: 80%;
		border-bottom: 1px solid $color-white;
		background-color: transparent;

		&:focus {
			width: 100%;
			color: $color-white;
		}
	}
}