.plus {
	position: fixed;
	width: 6.5rem;
	bottom: 4%;
	right: 4%;
	border-radius: 50%;
	border: 2px solid $color-green;
	box-shadow: .5rem .5rem .8rem rgba($color-white, 0.6);
	padding: 1.5rem;
	filter: invert(25%) sepia(93%) saturate(1200%) hue-rotate(180deg) brightness(79%) contrast(119%);
	transition: all .2s;

	&:hover {
		background-color :$color-tertiary-dark;
		transform: scale(1.05) translateY(-.5rem);
		filter: invert(100%);
	}
}

.section-users {
	display: flex;
	justify-content: center;
}

.nav-page {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 auto;
}

.buttons-user {
	display: flex;
	justify-content: center;
}
