@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;400;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;900&family=Roboto:wght@400;700;900&display=swap');


:root {
	/* fonts */
	--font-montserrat:'Montserrat', sans-serif;
	--font-poppins:'Poppins', sans-serif;
	--font-lato:'Lato', sans-serif;
	--font-roboto:'Roboto', sans-serif;

	--default-font-size: 1.6rem;

	--line: 1px solid var(--color-white);	
}
//Globals variables
$color-secondary: #55c57a;
$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-primary-dark: #0d3b9dca;
$color-primary-light: #2998ff;

$color-blue:#063bc1b7;
$color-red:#bb0909b4;
$color-green:hsla(120, 85%, 33%, 0.7);

$color-black: #000;
$color-white: #fff;