.table {
	width: 80%;
	border: 1px solid #000;
	border-spacing: 0;
	color: $color-grey-dark-3;
	
}

th {
	text-align: center;
	border-collapse: collapse;
	padding: 1rem;
	color: $color-white;
	background-color: $color-primary-light;
	text-transform: uppercase;
}

tr {
	font-size: 1.3rem;
	text-transform: uppercase;
	transition: all .2s;
	text-align: center;

	&:hover {background-color:$color-grey-light-1;}
}

td {
	padding: 0;
}