.header {
	height: 7rem;
	background-color: $color-primary-light;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	height: 4rem;
	margin: 0 7rem;
	filter: invert(42%) sepia(93%) saturate(600%) hue-rotate(90deg) brightness(119%) contrast(119%)
}

.search {
	flex: 0 0 40%;

	display: flex;
	align-items: center;
	justify-content: center;

	&__input {
		font-family: inherit;
		background-color: $color-grey-light-2;
		width: 90%;
		transition: all .2s;
		margin-right: -3.25rem;
		border-radius: 5rem;

		&:focus {
			outline: none;
			width: 100%;
			background-color: $color-white;
		}

		&::-webkit-input-placeholder {
			font-weight: 200;
			color: $color-grey-dark-3;
		}
	}

	&__input:focus+&__button:hover {
		background-color: $color-grey-light-2;
	}
}

.user-nav {
	align-self: stretch;

	display: flex;
	align-items: center;

	&>* {
		padding: 0 2rem;
		cursor: pointer;
		height: 100%;
		display: flex;
		align-items: center;
		color: $color-grey-light-1;
	}

	&>*:hover {
		background-color: rgb($color-primary-dark, 0.3);
	}

	&__icon-box {
		position: relative;

	}

	&__notification {
		font-size: .8rem;
		height: 1.75rem;
		width: 1.75rem;
		border-radius: 50%;
		color: #fff;
		position: absolute;
		top: 1.5rem;
		right: 1.1rem;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__user-photo {
		height: 3.75rem;
		border-radius: 50%;
		margin-right: 1rem;
	}
}