@import '../abstract/variables';

// .app{
// 	height: 100%;
// 	background-color: rgba($color-black, 0.4);
// 	width:75%;
// 	position: absolute;
// 	right: 0;
// 	z-index: 1;
// }

.content {
	transform: translateX(-110%);
	display: flex;
	flex-direction: column;
	background-color:  $color-black;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all .3s;
	width: 20%;
}

.sidebar {
	

}

.sidebar-logo {
	// background-color: $color-grey-light-2;


	&__logo {
		font-size: 2rem;
		width: 25%;
		margin: 1rem 2rem;
		filter: invert(42%) sepia(93%) saturate(600%) hue-rotate(190deg) brightness(119%) contrast(119%)
	}
}

// SIDE NAVIGATION
.side-nav {
	font-size: 1.4rem;

	&__item {
			position: relative;
			margin: 0;
			flex: 1;

			&:not(:last-child) {
					margin-bottom: .5rem;
			}

	}

	&__item::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 3px;
			background-color: $color-primary-light;
			transform: scaleY(0);
			transition: transform .2s,
									width .2s cubic-bezier(1,0,0,1) .1s,
									background-color .1s;
	}

	&__item:hover::before,
	&__item--active::before {
			transform: scaleY(1);
			width: 100%;

	}

	&__item:active::before {
			background-color: rgb($color-primary-light,.8);
	}

	&__link:link,
	&__link:visited {
			color: $color-grey-light-1;
			padding: 1.5rem 3rem;
			position: relative;
			padding: 2rem;
			display: flex;

	}

	&__icon {
			width: 1.75rem;
			height: 1.75rem;
			margin-right: 2rem;
			margin-bottom: .7rem;
			filter: invert(42%) sepia(93%) saturate(600%) hue-rotate(100deg) brightness(119%) contrast(119%);
	}
}